[submodule "Extension/libevent"]
	path = Framework/libevent
	url = https://github.com/libevent/libevent.git
    ignore = dirty
[submodule "Extension/tor"]
	path = Framework/tor
	url = https://git.torproject.org/tor.git
[submodule "Extension/openssl"]
	path = Framework/openssl
	url = git://git.openssl.org/openssl.git
